/* Variables */

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #32425C;
  --basic-beige: #F9F5F0;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --special-greendarck: #518534;
  --special-ylellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-darckblue: #293449;
  --special-darckbluedarck: #1D2739;
  --special-lightblack: #161D29;
  --special-darcdarckblue: #32425C;
  --special-lilac: #DC91D8;
  --special-greenligh: #8ED78F;
  --special-yellowlight:  #FFD180;
  --special-success: #5FBB2D;
  --special-warning: #FFBF47;
  --special-error: #BA2732;
  --special-verylightgrey: #F2F6F8;
  --special-lightgrey: #EAEAEA;
  --special-verylightgrey2: #F4F4F4;
  --special-lightbeige: #F1F1F1;
  --special-grey: #d8d8d8;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Container */

.container {
  width: 940px;
  margin: 0 auto;
}

/* Header */

.main-header {
  padding-bottom: 60px;
  background-color: var(--basic-background);
}

.main-header-top  {
  margin-bottom: 44px;
  background-color: var(--special-darckblue);
}

.header-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  padding-top: 13px;
  padding-bottom: 17px;
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.main-logo:active {
  background-color: var(--special-error);
}

.main-logo-link {
  display: block;
  height: 42px;
}

.search {
  position: relative;
  flex-grow: 1;
  color: var(--basic-black);
  }

.search-input {
  width: 250px;
  height: 42px;
  background-color: var(--special-darckblue);
  border: none;
  outline: none;
  padding-left: 40px;
  padding-right: 11px;
}

.search-label {
  position: absolute;
  top: 10px;
  left: 42px;
  color: #fff;
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 18px;
  fill: #fff;
  opacity: 0.3;
}
.search-input:hover ~ .search-icon {
  opacity: 1;
}

.search-input:focus ~ .search-label {
  display: none;
}

.search-input:focus ~ .search-icon {
  fill: red;
  opacity: 1;
}

.search-input:focus {
  background-color: var(--basic-white);
}

.search-input:valid ~ .search-label {
  display: none;

}
.search-input:valid ~ .search-icon {
  fill: red;
  opacity: 1;
}

.search-input:valid {
  background-color: var(--basic-white);
}

.bookmarks-link {
  display: block;
  width: 150px;
  padding: 9px;
  padding-left: 43px;
  position: relative;
  color: var(--basic-white);
}

.cart-link {
  display: block;
  width: 150px;
  padding: 9px;
  padding-left: 50px;
  position: relative;
  color: var(--basic-white);
}

.bookmarks-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
  width: 16px;
  height: 18px;
  background-image: url("../img/svg/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 25px;
  width: 16px;
  height: 18px;
  background-image: url("../img/svg/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks-link:hover::before,
.cart-link:hover::before {
  opacity: 1;
}

.cart-active {
  background-color: var(--basic-red);
}

.bookmarks-link:active,
.cart-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--special-lightblack);
}

.order-link {
  display: block;
  width: 150px;
  padding: 9px 17px;
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.order-link:active {
  color: rgba(255, 255, 255, 0.5);
}

.order-link:hover {
  background-color: var(--special-success);
}

.main-header-middle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}

.desc {
  width: 235px;
  padding: 0;
  margin: 0;
  padding-left: 29px;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.contact-header {
  position: relative;
  margin-left: 53px;
  width: 270px;
}

.tel {
  display: block;
  padding: 7px 0 8px 74px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid #FFFFFF;
}

.contact-header .tel::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 40px;
  width: 20px;
  height: 20px;
  background-image: url(../img/svg/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contact-address{
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-grey);
}

.user-navigation {
  position: relative;
  display: flex;
  margin: 0;
  padding-top: 3px;

  list-style: none;
  color: var(--basic-black);
}

.user-autho-item:first-child {
  margin-right: 32px;
}

.user-navigation-item:first-child {
  margin-right: 10px;
}

.user-autho::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 129px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--special-darcdarckblue);
}

.user-name:active {
  color: var(--basic-greylight);
}

.login-link {
  display: block;
  padding: 12px 27px 12px 45px;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.reg-link {
  display: block;
  padding: 12px 24px;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.login-link::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 57px;
  width: 20px;
  height: 18px;
  background-image: url(../img/svg/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link:hover::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 57px;
  width: 20px;
  height: 18px;
  background-image: url(../img/svg/hover-icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link:active::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 57px;
  width: 20px;
  height: 18px;
  background-image: url(../img/svg/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation-link {
  color: var(--basic-black);
}

.user-navigation-link:hover {
  color: var(--basic-red);
}

.user-navigation-link:active {
  color: var(--basic-greylight);
}

.user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.user-card {
  position: relative;
  margin: 0;
  padding: 0;
  width: 299px;
  list-style: none;
}

.user-autho a {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-darcdarckblue);
}

.user-name {
  display: block;
  padding: 14px 27px 12px 25px;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.user-name::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 19px;
  width: 20px;
  height: 18px;
  background-image: url(../img/svg/icon-logout.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-name::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 13px;
  width: 20px;
  height: 18px;
  background-image: url(../img/svg/icon-user.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-point {
  display: block;
  margin-right: 15px;
  margin-left: 15px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--special-darcdarckblue);
}

.main-navigation {
  background-color: var(--basic-grey);
  padding-left: 23px;
  padding-right: 17px;
  box-shadow: inset 0px -5px 0px #293449;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  padding: 0;
  list-style: none;
  margin: 0;
}

.site-navigation-link {
  display: block;
  padding: 16px 29.5px 20px 28px;
  color: var(--basic-white);
}

.site-navigation-link:hover {
  background-color: var(--special-darckblue);
}

.site-navigation-link:active {
  color: var(--basic-white);
  opacity: 0.5;
}

.site-navigation a:active {
  background-color: var(--special-darckbluedarck);
}

/* Main */

.category {
  margin-top: 59px;
}

.category-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.category-title {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 23px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.category-btn  {
  display: inline-block;
  min-width: 135px;
  padding: 10px 5px;
  max-width: 191px;
  margin: 12px 0 0 24px;
  vertical-align: baseline;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--basic-white);
}

.category-btn:hover {
  background-color: rgb(197, 197, 197, 0.3);;
}

.category-btn:active {
  background-color: rgb(169, 169, 169, 0.3);;
}

.column-1  {
  margin-top: 5px;
  margin-right: 20px;
}

.column-2 {
  margin-top: 20px;
}

.column-2 .category-list {
  display: flex;
  flex-direction: column;
}

.row-1 {
  display: flex;
  justify-content: space-between;
}

.row-2 {
  display: flex;
  justify-content: space-between;
}

.category-item-1 {
  position: relative;
  padding-bottom: 20px;
  margin-right: 20px;
  width: 300px;
  height: 123px;
  background-color: var(--special-ylellow);
}

.category-item-1::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 43px;
  width: 44px;
  height: 65px;
  background-image: url("../img/svg/material.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-item-1::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -30px;
  width: 100px;
  height: 70px;
  background-image: url("../img/catnew.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-item-2 {
  position: relative;
  padding-bottom: 20px;
  margin-right: 20px;
  width: 300px;
  height: 123px;
  background-color: var(--special-blue);
}

.category-item-2::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;
  width: 75px;
  height: 61px;
  background-image: url("../img/svg/instrument.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-item-3 {
  position: relative;
  padding-bottom: 20px;
  margin-right: 20px;
  width: 300px;
  height: 123px;
  background-color: var(--special-lilac);
}

.category-item-3::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;
  width: 78px;
  height: 62px;
  background-image: url("../img/svg/tehnika.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-item-4 {
  position: relative;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  background-color: var(--special-greenligh);
}

.category-item-4::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 26px;
  width: 78px;
  height: 75px;
  background-image: url("../img/svg/skidki.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-item-5 {
  position: relative;
  width: 300px;
  height: 123px;
  background-color: var(--special-ylellow);
}

.category-item-5::after {
  content: "";
  position: absolute;
  top: 30px;
    right: 31px;
  width: 78px;
  height: 75px;
  background-image: url("../img/svg/dostavka.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider {
  position: relative;
}

.slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-item {
  position: relative;
  width: 620px;
  display: none;
}

.slider-first-screen-radio:checked ~ .slider-list .slider-item-first{
  display: block;
}

.slider-second-screen-radio:checked ~ .slider-list .slider-item-second{
  display: block;
}

.btn-left,
.btn-right {
  position: absolute;
  top: 102px;
  width: 22px;
  height: 40px;
  cursor: pointer;
}

.btn-left {
  position: absolute;
  top: 102px;
  left: 23px;
  width: 78px;
  height: 75px;
  background-image: url("../img/svg/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.btn-right {
  position: absolute;
  top: 102px;
  right: -35px;
  width: 78px;
  height: 75px;
  background-image: url("../img/svg/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

/*.slider-item::before {
  content: "";
  position: absolute;
  top: 102px;
  left: 23px;
  width: 78px;
  height: 75px;
  background-image: url("../img/svg/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.slider-item::after {
  content: "";
  position: absolute;
  top: 102px;
  right: -35px;
  width: 78px;
  height: 75px;
  background-image: url("../img/svg/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}
*/
.radios {
  position: absolute;
  left: 295px;
  top: 193px;
}

.label-slider-radio:last-child {
  margin-left: 5px;
}

.slider-radio-mod {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--basic-white);
  cursor: pointer;
}

.slider-radio-mod:before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--basic-red);
  top: 2px;
  left: 2px;
  opacity: 0;
}

.slider-radio:checked + .slider-radio-mod::before {
  opacity: 1;
}

.slider-title {
  padding-left: 24px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slider-desc {
  position: absolute;
  top: 25px;
  padding-left: 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.slider-image {
  position: absolute;
  top: -20px;
  z-index: -1;
}

.btn-slider {
  position: absolute;
  left: 24px;
  top: 180px;
  padding: 11px 46px 9px 46px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  height: 89px;
  background-color: var(--special-verylightgrey);
}

.heading-goods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  height: 89px;
  background-color: var(--special-verylightgrey);
}

.heading-manufacturers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  height: 89px;
  background-color: var(--special-verylightgrey);
}

.heading-title {
  padding-left: 28px;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-darcdarckblue);
}

.heading-btn {
  width: 192px;
  height: 38px;
  padding: 11px 24px 9px 40px;
  margin-right: 20px;
}

.prod-btn {
  width: 192px;
  height: 38px;
  padding: 8px 24px 9px 24px;
  margin-right: 15px;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  width: calc(100% + 20px);
}

.manufacturers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 70px;
  list-style: none;
}

.manufacturers-item {
  align-items: center;
  width: 220px;
  height: 145px;
  text-align: center;
  border: 1px solid var(--special-lightgrey);
}

.manufacturers-item:hover {
  box-shadow: 0px 0px 8px -3px #000000;
}

.manufacturers-item:active {
  opacity: 0.5;
}

.manufacturers-link  {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services {
  background-color: var(--basic-background);
}

.services-slider {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
}

.services-slider-screen {
  display: none;
}

.services-label {
  display: block;
  padding-left: 27px;
  padding-top: 14px;
  cursor: pointer;
  padding-bottom: 16px;
}
.services-label:hover {
  background-color: var(--special-darckblue);
}

.services-slider-delivery:checked ~ .service-list .delivery-label {
  background: #ffffff;
  color: var(--special-darcdarckblue);
}

.services-slider-guarantee:checked ~ .service-list .guarantee-label {
  background: #ffffff;
  color: var(--special-darcdarckblue);
}

.services-slider-credit:checked ~ .service-list .credit-label {
  background: #ffffff;
  color: var(--special-darcdarckblue);
}

.services-slider-delivery:checked ~ .services-slider-screens .delivery-slider {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-right: 305px;
}

.services-slider-guarantee:checked ~ .services-slider-screens .garant-slider {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-right: 305px;
}

.services-slider-credit:checked ~ .services-slider-screens .credit-slider {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-right: 305px;
}

.services-heading {
  padding-top: 45px;
  margin-top: 53px;
}

.services-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.delivery-slider {
  position: relative;
}

.garant-slider {
  position: relative;
}

.credit-slider  {
  position: relative;
}

.delivery-slider::after {
  content: '';
  position: absolute;
  width: 468px;
  height: 260px;
  top: 73px;
  right: -304px;
  background-image: url(../img/dostavka.png);
}

.credit-slider::after {
  content: '';
  position: absolute;
  width: 468px;
  height: 260px;
  top: 73px;
  right: -328px;
  background-image: url(../img/credit.png);
}

.garant-slider::after {
  content: '';
  position: absolute;
  width: 468px;
  height: 260px;
  top: 71px;
  right: -390px;
  background-image: url(../img/garant.png);
}

.services-desc {
  margin-top: 23px;
}

.service-slider-text {
  margin-top: 3px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.service-list {
  position: relative;
  min-width: 240px;
  padding: 0;
  padding-bottom: 6px;
  margin-top: 49px;
  color: var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  list-style: none;
}

.service-item {
  width: 240px;
  height: 61px;
  background-color: var(--basic-grey);
}

.service-item:nth-child(n+2) {
  border-bottom: 1px solid var(--special-darckblue);
  border-top: 1px solid #3a5177;
}

.service-list::before {
  content: "";
  position: absolute;
  top: -35px;
  right: 0px;
  width: 10px;
  height: 279px;
  background-image: url(../img/line.png);
  background-repeat: no-repeat;
}

.service-image {
  margin-top: 75px;
}

.service-slider-heading {
  margin-top: 46px;
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-darcdarckblue);
}

.service-slider-desc {
  margin-left: 40px;
  z-index: 2;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.service-slider-text {
  width: 313px;
  min-height: 99px;
}

.service-item-current {
  background-color: var(--basic-white);
  color: var(--special-darcdarckblue);
}

.about {
  width: 478px;
  padding-top: 44px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
}

.about-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.delivery-list {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
}

.delivery-item {
  position: relative;
  padding-bottom: 12px;
}

.delivery-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  top: 10px;
  left: -39px;
}

.about-company {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 56px;
}

.about-btn  {
  display: block;
  width: 220px;
  height: 38px;
  padding: 11px 24px 9px 24px;
}

.contacts  {
  width: 300px;
}

.contacts-title {
  text-transform: uppercase;
  padding-top: 50px;
}

.contacts-desc {
  padding-bottom: 32px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
}

.contac-btn {
  width: 300px;
  height: 38px;
  margin-top: 15px;
  padding: 11px 24px 9px 24px;
}

.breadcrumbs-list {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  padding-left: 47px;
}

.breadcrumbs-list:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0px;
  width: 78px;
  height: 75px;
  background-image: url("../img/svg/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 29px;
  width: 78px;
  height: 75px;
  background-image: url("../img/svg/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Filters */

.filter-title-mod {
  display: block;
  width: 220px;
  height: 38px;
  padding: 10px 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-beige);
}

.filter-item {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 10px;
  margin-bottom: 42px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 2px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.toggle {
  position: relative;
  box-shadow: 0 5px 5px -5px #333;
}

.toggle::before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  bottom: -3px;
  left: -2px;
  background-color: var(--basic-greylight);
  border-radius: 2px;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 95px;
  padding: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 2px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
}

.filters {
  font-family: "PT Sans", Arial, sans-serif;
  width: 220px;
}

.filters-title {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-group {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  border: none;
}

.filter-group::before {
  content: "";
  position: absolute;
  top: -17px;
  left: -2px;
  width: 220px;
  height: 1px;
  background-color: var(--special-lightgrey);
}

.filter-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filter-option {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-button {
  padding: 10px 78px;
  margin-top: 6px;
  border: 1px solid #E5E5E5;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
}

.filter-checkbox {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  margin-right: 10px;
  width: 23px;
  height: 23px;
}

.filter-checkbox::before {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  width: 23px;
  height: 23px;
  background-image: url(../img/svg/checkbox-off.svg);
}

.filter-checkbox:checked + .filter-checkbox::after {
  content: "";
  position: absolute;
  display: block;
  top: 8px;
  width: 27px;
  height: 23px;
  border: none;
  background-image: url(../img/svg/checkbox-on.svg);
}

.filter-input-radio {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 30px;
}

.filter-input-radio::before {
  content: "";
  position: absolute;
  left: 0px;
  top: -17px;
  width: 25px;
  height: 25px;
  background-image: url(../img/svg/radio-off.svg);
}

.filter-input-radio:checked + .filter-input-radio::after {
  content: "";
  position: absolute;
  display: block;
  top: -9px;
  left: 8px;
  width: 25px;
  height: 23px;
  border: none;
  background-image: url(../img/svg/radio-on.svg);
  background-repeat: no-repeat;
}

.brand-title {
  display: block;
}

/* Catalog */

.heading-catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 3px;
  margin-bottom: 20px;
  height: 89px;
  background-color: var(--special-verylightgrey);
}

.catalog-row {
  display: flex;
}

.catalog {
  margin-left: 20px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  width: 700px;
  height: 38px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-beige);
}

.soring-title {
  display: block;
  padding-left: 20px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-form  {
  padding-right: 14px;
}

.btn-sort {
  padding: 0;
  color: var(--basic-black);
}

input[class="btn-sort"] {
  color: var(--basic-black);
  border-bottom: 1px dotted var(--basic-red);
  opacity: 0.3;
}

input[class="btn-sort"]:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
  opacity: 1;
}

input[class="btn-sort"]:active {
  color: var(--basic-red);
  border: none;
}

.btn-sort:nth-child(-n+3) {
  margin-left: 70px;
}

.btn-up {
  position: relative;
  margin-left: 43px;
  border: none;
  outline: none;
}

.btn-up::before  {
  content: '';
  position: absolute;
  width: 11px;
  height: 10px;
  top: -8px;
  left: 0;
  background-image: url(../img/svg/icon-up-dir.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.btn-down {
  position: relative;
  margin-left: 18px;
  border: none;
  outline: none;
}

.btn-down::before  {
  content: '';
  position: absolute;
  width: 11px;
  height: 10px;
  top: -8px;
  left: 0;
  background-image: url(../img/svg/icon-down-dir.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.cards-wrap {
  overflow-x: hidden;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
}

.card-title {
  display: block;
  padding: 0 30px 0 30px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
}

.card-item {
  position: relative;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px solid #EAEAEA;
  padding-bottom: 97px;
}

.card-item-top-container {
  width: 100%;
  height: 153px;
  margin-bottom: 24px;
  padding-top: 15px;
}

.card-item-img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.catalog-item-image {
  max-height: 100%;
}

.card-item-price-block {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.card-item:hover > .card-link p {
  visibility: hidden;
}

.catalog-image {
  margin-left: 33px;
}

.btn-block {
  display: none;
  background-color: white;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

.card-item:hover .btn-block {
  display: block;
}

.card-item:hover .card-item-img-block {
  display: none;
}

.card-item:hover {
  box-shadow: 0px 0px 8px -3px #000000;
}

.catalog-item-image {
  display: block;
  margin-left: 30px;
  width: 144px;
  height: 128px;
  margin: 0;
}

.price-box {
  display: block;
  position: relative;
  margin-left: 45px;
}

.del-price {
  display: block;
  margin-bottom: 13px;
  margin-left: 76px;
  text-decoration: line-through;
  font-family: "PT Sans", Arial, sans-serif;
}

.price {
  position: relative;
  display: block;
  width: 125px;
  height: 38px;
  padding-top: 10px;
  margin-left: 44px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.price:after {
  content: "";
  position: absolute;
  top: 5px;
  right: -13px;
  width: 26px;
  height: 28px;
  background-color: var(--basic-red);
  transform: rotate(45deg);
}

.new-goods:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 70px;
  height: 67px;
  background: url(../img/catnew.png) no-repeat 0 0
}

.btn-block {
  position: absolute;
  display: none;
  top: 20px;
  left: 11px;
  background-color: white;
  width: 135px;
  height: 110px;
  margin-left: 30px;
}

.card-item:hover > .btn-block {
  display: block;
}

/* Button */

.button {
  width: 135px;
  height: 38px;
  margin-bottom: 10px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-green);
  border: none;
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--special-success);
}

.button:active {
  background-color: var(--special-greendarck);
}

.btn  {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
}

.btn:active {
  background-color: var(--special-error);
}

.btn-mod {
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  box-shadow: none;
  color: var(--special-darcdarckblue);
  background-color: var(--basic-white);
}

.btn-mod:hover {
  border: 3px solid var(--special-darcdarckblue);
  border-radius: 2px;
  box-shadow: none;
  color: var(--special-darcdarckblue);
  background-color: var(--basic-white);
}

.btn-mod:active {
  border: 3px solid var(--special-grey);
  border-radius: 2px;
  box-shadow: none;
  color: var(--special-grey);
  background-color: var(--basic-white);
}

.btn-sort {
  background: none;
  border: none;
  color: var(--basic-red);
  cursor: pointer;
}

.catalog-row  {
  display: flex;
}

.pagination-list  {
  display: flex;
  padding: 0;
  margin-top: 24px;
  margin-bottom: 33px;
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-item {
  margin-right: 10px;
  width: 38px;
  height: 33px;
  border-radius: 2px;
  border: none;
}

.pagination-item:last-child {
  width: 140px;
  height: 38px;
}

.pagination-item:active {
  border: 1px solid var(--basic-red);
}

.pagination-item-current {
  background-color: var(--basic-red);
}

.pagination-link {
  display: block;
  padding: 7px 15px;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  text-align: center;
  color: var(--basic-black);
}

.pagination-link-current {
  color: var(--basic-white);
  border: none;
}

.definition {
  padding-top: 64px;
  padding-bottom: 57px;
  background-color: var(--basic-background);
}

.definition-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.definition-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

/* Footer */

.main-footer {
  background-color: var(--special-darcdarckblue);
}

.footer-up {
  background-color: var(--basic-grey);
}

.footer-down {
  padding-top: 30px;
  background-color: var(--special-darckblue);
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-nav  {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-logo-link {
  display: block;
  height: 68px;
}

.footer-logo {
  padding-left: 42px;
  padding-right: 40px;
  width: 220px;
  height: 68px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.footer-logo:active {
  background-color: var(--special-error);
}

.footer-nav-link {
  display: block;
  padding: 25px;
}

.footer-nav-link:hover,
.offers-link:hover  {
  text-decoration: underline;
}

.footer-nav-link:active,
.offers-link:active  {
  opacity: 0.5;
}

.footer-nav-link {
  color: var(--basic-background);
}

.footer-middle .contact-address,
.footer-middle .tel {
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-background);
  border: none;
}

.offers {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  align-items: center;
  list-style: none;
}

.footer-contacts  {
  padding-top: 17px;
}

.offers-link {
  display: block;
  padding: 25px;
  color: var(--special-yellowlight);
}

.footer-social {
  display: flex;
  padding: 0;
  margin-left: 65px;
  list-style: none;
}

.footer-bottom  {
  display: flex;
  margin-top: -5px;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-bottom a {
  color: var(--special-yellowlight);
}

.social-item {
  margin-left: 3px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--special-darckbluedarck);
}

.social-link {
  position: relative;
}

.social-link-vk::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 8px;
  width: 27px;
  height: 17px;
  background-image: url(../img/svg/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-link-fb::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 30px;
  height: 22px;
  background-image: url(../img/svg/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-link-inst::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 30px;
  height: 22px;
  background-image: url(../img/svg/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-link:hover,
.social-link:active {
  background-color: var(--basic-red);
}

/* .feedback {

}

.developed {

} */

.copyright-link {
  display: block;
}

.copyright-link:active {
  color: var(--basic-red);
}

.modal-map {
  display: none;
  position: fixed;
  width: 943px;
  height: 449px;
  top: 30%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  border-top: 7px solid var(--basic-red);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-map p {
  display: none;
  width: 943px;
  height: 449px;
  top: 2370px;
  left: 479px;
  position: absolute;
  border-top: 7px solid var(--basic-red);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.map-btn {
  z-index: 3;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 30px;
  height: 22px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../img/svg/icon-close.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Modal */

.feedback-popup {
  display: flex;
  display: none;
  position: fixed;
  flex-wrap: wrap;
  width: 620px;
  height: 430px;
  top: 30%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
}

.feedback-popup label{
  display: block;
  font-size: 18px;
  line-height: 24px;
}

.feedback-popup input{
  box-sizing: border-box;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 7px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  margin-bottom: 11px;
}

.feedback-close {
  position: absolute;
  top: 12px;
  right: 0;
  width: 30px;
  height: 22px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../img/svg/icon-close.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-input-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 620px;
  padding-right: 80px;
  padding-left: 80px;
  border-top: 7px solid  var(--basic-red);
  background-color: var(--basic-white);
}

.send-button-area {
  width: 620px;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-top: 37px;
  margin-top: 37px;
  background-color: var(--special-verylightgrey2);
}

.feedback-popup input::placeholder,
.textarea-section textarea::placeholder {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.textarea-section {
  flex-grow: 3;
  width: 460px;
}

.textarea-section  textarea {
  width: 460px;
  height: 114px;
  box-sizing: border-box;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 7px;
  resize: none;
}

.btn-modal {
  width: 460px;
  height: 38px;

}

.modal-add-cart {
  position: absolute;
  display: none;
  border-top: 7px solid  var(--basic-red);
  width: 620px;
}

.main-add-cart {
  display: flex;
  padding: 60px 99px;
  background-color: var(--basic-white);
}

.icon-add-cart {
  position: relative;
  display: block;
  margin-right: 40px;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: var(--basic-green);
}

.icon-add-cart::before  {
  content: "";
  position: absolute;
  top: 20px;
  left: 15px;
  width: 40px;
  height: 30px;
  background-image: url(../img/svg/shape.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.title-add-cart {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.footer-add-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  padding-left: 40px;
  background-color: var(--special-lightbeige);
}

.btn-add-cart {
  display: block;
  padding-top: 15px;
  width: 192px;
  height: 38px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align:  center;

}

.btn-add-cart:last-child {
  margin-left: 10px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.close-add-cart {
  position: relative;
  z-index: 2;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 30px;
  height: 22px;
  border: none;
  cursor: pointer;
  background-color: var(--basic-white);
  background-image: url(../img/svg/icon-close.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-show {
  display: block;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
