/* Variables */

:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #32425c;
  --basic-beige: #f9f5f0;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --special-greendarck: #518534;
  --special-ylellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-darckblue: #293449;
  --special-darckbluedarck: #1d2739;
  --special-lightblack: #161d29;
  --special-darcdarckblue: #32425c;
  --special-lilac: #dc91d8;
  --special-greenligh: #8ed78f;
  --special-yellowlight: #ffd180;
  --special-success: #5fbb2d;
  --special-warning: #ffbf47;
  --special-error: #ba2732;
  --special-verylightgrey: #f2f6f8;
  --special-lightgrey: #eaeaea;
  --special-verylightgrey2: #f4f4f4;
  --special-lightbeige: #f1f1f1;
  --special-grey: #d8d8d8;
  --btn-red-hover: #ca2c37;
  --icon-hover: #3d546f;
  --old-price-color: #a9a9a9;
  --button-border-color: #e5e5e5;
  --button-sort-color: rgba(0, 0, 0, 0.3);
  --top-border-service-item: #3a5177;
  --scale-bg: #d7dcde;
  --bar-bg: #00ca74;
  --range-toggle-bg: #cfcfcf;
  --price-input-color: #283136;
  --btn-inner-shadow: #367315;
  --toggle-shadow: #333333;
  --toggle-bg: #ababab;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-red {
  background-color: var(--basic-red);
}

.btn-red:hover,
.btn-red:focus {
  background-color: var(--btn-red-hover);
  outline: none;
}

.btn-red:active {
  background-color: var(--special-error);
  outline: none;
}

/* Container */

.container {
  width: 940px;
  margin: 0 auto;
}

/* Header */

.main-header {
  padding-bottom: 60px;
  background-color: var(--basic-background);
}

.main-header-top {
  margin-bottom: 44px;
  background-color: var(--special-darckblue);
}

.header-up {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.main-logo {
  padding-top: 13px;
  padding-bottom: 17px;
  width: 220px;
  height: 47px;
}

.main-logo-link {
  display: block;
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  margin-bottom: -5px;
}

.main-logo-link:active,
.main-logo-link:focus {
  background-color: var(--special-error);
  outline: none;
}

.search {
  position: relative;
  flex-grow: 1;
  color: var(--basic-black);
}

.search-input {
  width: 250px;
  height: 42px;
  background-color: var(--special-darckblue);
  border: none;
  outline: none;
  padding-left: 40px;
  padding-right: 11px;
}

.search-label {
  position: absolute;
  top: 10px;
  left: 42px;
  color: var(--basic-white);
}

.search-icon {
  position: absolute;
  top: 12px;
  left: 18px;
  fill: var(--basic-white);
  opacity: 0.3;
}

.search-input:hover ~ .search-icon {
  opacity: 1;
}

.search-input:focus ~ .search-label {
  display: none;
}

.search-input:focus ~ .search-icon {
  fill: var(--basic-red);
  opacity: 1;
}

.search-input:focus {
  background-color: var(--basic-white);
}

.search-input:valid ~ .search-label {
  display: none;
}

.search-input:valid ~ .search-icon {
  fill: red;
  opacity: 1;
}

.search-input:valid {
  background-color: var(--basic-white);
}

.bookmarks-link {
  display: block;
  min-width: 164px;
  padding: 9px;
  padding-left: 43px;
  position: relative;
  color: var(--basic-white);
}

.cart-link {
  display: block;
  min-width: 136px;
  padding: 9px;
  padding-left: 35px;
  position: relative;
  color: var(--basic-white);
}

.bookmarks-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 20px;
  width: 16px;
  height: 18px;
  background-image: url("../img/svg/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.cart-link::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 11px;
  width: 16px;
  height: 18px;
  background-image: url("../img/svg/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.bookmarks-link:focus,
.cart-link:focus {
  outline: none;
}

.bookmarks-link:hover::before,
.cart-link:hover::before,
.bookmarks-link:focus::before,
.cart-link:focus::before {
  opacity: 1;
}

.bookmarks-link:active::before,
.cart-link:active::before {
  opacity: 0.3;
}

.cart-active {
  background-color: var(--basic-red);
}

.bookmarks-link:active,
.cart-link:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: var(--special-lightblack);
}

.order-link {
  display: block;
  width: 150px;
  padding: 9px 17px;
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.order-link:active {
  color: rgba(255, 255, 255, 0.5);
}

.order-link:hover,
.order-link:focus {
  background-color: var(--special-success);
  outline: none;
}

.main-header-middle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 40px;
}

.desc {
  width: 235px;
  padding: 0;
  margin: 0;
  padding-left: 29px;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.contact-header {
  position: relative;
  margin-left: 53px;
  width: 270px;
}

.tel {
  display: block;
  padding: 7px 0 5px 74px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  margin-bottom: 2px;
  border: 3px solid var(--basic-white);
}

.contact-header .tel::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 40px;
  width: 20px;
  height: 20px;
  background-image: url("../img/svg/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.contact-address {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: var(--basic-grey);
}

.user-navigation {
  position: relative;
  display: flex;
  margin: 0;
  padding-top: 3px;
  padding-left: 40px;

  list-style: none;
  color: var(--basic-black);
}

.user-order {
  margin-right: 32px;
}

.user-autho {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 7px;

  list-style: none;
  color: var(--basic-black);
}

.user-space {
  position: relative;
}

.user-space::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -18px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--special-darcdarckblue);
}

.user-autho-link:hover,
.user-autho-link:focus {
  color: var(--basic-red);
  outline: none;
}

.user-order:hover + .user-space::after,
.user-order:focus + .user-space::after {
  background-color: var(--basic-red);
}

.user-space:hover::after,
.user-space:focus::after {
  background-color: var(--basic-red);
}

.user-autho-link:active {
  color: var(--basic-greylight);
}

.user-order:active + .user-space::after {
  background-color: var(--basic-greylight);
}

.user-space:active::after,
.user-space:active::after {
  background-color: var(--basic-greylight);
}

.user-name:active {
  color: var(--basic-greylight);
}

.login-link {
  display: block;
  padding: 12px 27px 12px 45px;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  color: var(--basic-black);
  margin-right: 10px;
}

.reg-link {
  display: block;
  padding: 12px 24px;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.login-link::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 57px;
  width: 20px;
  height: 18px;
  background-image: url(../img/svg/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link:hover::before,
.login-link:focus::before {
  background-image: url(../img/svg/hover-icon-login.svg);
}

.login-link:active::before {
  background-image: url(../img/svg/icon-login.svg);
}

.user-navigation-link {
  color: var(--basic-black);
}

.user-navigation-link:hover,
.user-navigation-link:focus {
  color: var(--basic-red);
  outline: none;
}

.user-navigation-link:active {
  color: var(--basic-greylight);
}

.user-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 24px;
}

.user-card {
  position: relative;
  margin: 0;
  padding: 0;
  width: 299px;
  list-style: none;
  background-color: var(--basic-white);
}

.user-autho-link {
  font-size: 16px;
  line-height: 18px;
  color: var(--special-darcdarckblue);
}

.user-name {
  display: inline-block;
  padding: 14px 5px 12px 57px;
  margin-right: 10px;
  vertical-align: baseline;
  font-weight: normal;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  background-color: var(--basic-white);
  color: var(--basic-black);
  position: relative;
}

.user-name:hover,
.user-name:focus {
  outline: none;
}

.user-name:hover .user-name-icon,
.user-name:focus .user-name-icon {
  fill: var(--icon-hover);
  outline: none;
}

.user-name:active .user-name-icon {
  fill: var(--basic-greylight);
}

.user-logout {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}

.user-logout:hover,
.user-logout:focus {
  outline: none;
}

.user-logout:hover .user-logout-icon,
.user-logout:focus .user-logout-icon {
  fill: var(--icon-hover);
}

.user-logout:active .user-logout-icon {
  fill: var(--basic-greylight);
}

.user-logout-icon {
  width: 20px;
  height: 18px;
  fill: var(--basic-greylight);
}

.user-name-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20px;
  height: 18px;
  fill: var(--basic-greylight);
}

.user-point {
  display: block;
  margin-right: 15px;
  margin-left: 15px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--special-darcdarckblue);
}

.main-navigation {
  background-color: var(--basic-grey);
  padding-left: 23px;
  padding-right: 17px;
  box-shadow: inset 0px -5px 0px var(--special-darckblue);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  padding: 0;
  list-style: none;
  margin: 0;
}

.site-navigation-link {
  display: block;
  padding: 16px 29.5px 20px 28px;
  color: var(--basic-white);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  background-color: var(--special-darckblue);
  outline: none;
}

.site-navigation-link:active {
  color: var(--basic-white);
  opacity: 0.5;
}

.site-navigation a:active {
  background-color: var(--special-darckbluedarck);
}

/* Main */

.category {
  margin-top: 59px;
  margin-bottom: 59px;
}

.category-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.category-title {
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-left: 23px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.category-btn {
  display: inline-block;
  min-width: 135px;
  padding: 10px 5px;
  max-width: 191px;
  margin: 12px 0 0 23px;
  vertical-align: baseline;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--basic-white);
}

.category-btn:hover,
.category-btn:focus {
  background-color: rgb(197, 197, 197, 0.3);
  outline: none;
}

.category-btn:active {
  background-color: rgb(169, 169, 169, 0.3);
}

.column-1 {
  margin-top: 5px;
  margin-right: 20px;
}

.column-2 {
  margin-top: 20px;
}

.column-2 .category-list {
  display: flex;
  flex-direction: column;
}

.row-1 {
  display: flex;
  justify-content: space-between;
}

.row-2 {
  display: flex;
  justify-content: space-between;
}

.category-item-1 {
  position: relative;
  padding-bottom: 20px;
  margin-right: 20px;
  width: 300px;
  height: 123px;
  background-color: var(--special-ylellow);
}

.category-item-1::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 43px;
  width: 44px;
  height: 65px;
  background-image: url("../img/svg/material.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-item-1::before {
  content: "";
  position: absolute;
  top: 0px;
  right: -30px;
  width: 100px;
  height: 70px;
  background-image: url("../img/catnew.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-item-2 {
  position: relative;
  padding-bottom: 20px;
  margin-right: 20px;
  width: 300px;
  height: 123px;
  background-color: var(--special-blue);
}

.category-item-2::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;
  width: 75px;
  height: 61px;
  background-image: url("../img/svg/instrument.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-item-3 {
  position: relative;
  padding-bottom: 20px;
  width: 300px;
  height: 123px;
  background-color: var(--special-lilac);
}

.category-item-3::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 30px;
  width: 78px;
  height: 62px;
  background-image: url("../img/svg/tehnika.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-item-4 {
  position: relative;
  width: 300px;
  height: 123px;
  margin-bottom: 20px;
  background-color: var(--special-greenligh);
}

.category-item-4::after {
  content: "";
  position: absolute;
  top: 25px;
  right: 26px;
  width: 78px;
  height: 75px;
  background-image: url("../img/svg/skidki.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.category-item-5 {
  position: relative;
  width: 300px;
  height: 123px;
  background-color: var(--special-ylellow);
}

.category-item-5::after {
  content: "";
  position: absolute;
  top: 30px;
  right: 31px;
  width: 78px;
  height: 75px;
  background-image: url("../img/svg/dostavka.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.slider {
  position: relative;
}

.slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-item {
  position: relative;
  width: 620px;
  display: none;
}

.slider-first-screen-radio:checked ~ .slider-list .slider-item-first {
  display: block;
}

.slider-second-screen-radio:checked ~ .slider-list .slider-item-second {
  display: block;
}

.slider-first-screen-radio:focus ~ .btn-left {
  border-color: var(--basic-white);
}

.slider-second-screen-radio:focus ~ .btn-right {
  display: block;
  border-color: var(--basic-white);
}

.btn-left,
.btn-right {
  position: absolute;
  top: 100px;
  width: 25px;
  height: 43px;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  border: 1px solid transparent;
}

.btn-left {
  left: 23px;
  background-image: url("../img/svg/icon-left.svg");
}

.btn-right {
  right: 17px;
  background-image: url("../img/svg/icon-right.svg");
}

.radios {
  position: absolute;
  left: 295px;
  top: 193px;
}

.label-slider-radio:last-child {
  margin-left: 5px;
}

.slider-radio-mod {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--basic-white);
}

.slider-radio-mod:before {
  content: "";
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--basic-red);
  top: 2px;
  left: 2px;
  opacity: 0;
}

.slider-first-screen-radio:checked ~ .radios .slider-first-radio-mod::before {
  opacity: 1;
}

.slider-second-screen-radio:checked ~ .radios .slider-second-radio-mod::before {
  opacity: 1;
}

.slider-title {
  padding-left: 24px;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slider-desc {
  position: absolute;
  top: 25px;
  padding-left: 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.slider-image {
  position: absolute;
  top: -20px;
  z-index: -1;
}

.btn-slider {
  position: absolute;
  left: 24px;
  top: 180px;
  padding: 11px 46px 9px 46px;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  height: 89px;
  background-color: var(--special-verylightgrey);
}

.heading-goods {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 11px;
  background-color: var(--special-verylightgrey);
  padding-bottom: 25px;
}

.heading-manufacturers {
  margin-bottom: 10px;
}

.heading-title {
  padding: 0;
  margin: 0;
  padding-left: 28px;
  font-weight: normal;
  margin-top: 30px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-darcdarckblue);
}

.prod-btn {
  min-width: 192px;
  height: 38px;
  padding: 12px 24px 9px 24px;
  margin-right: 14px;
  margin-top: 25px;
}

.heading-btn {
  margin-right: 19px;
}

.heading-goods-container {
  margin-bottom: 21px;
}

.popular-goods {
  margin-bottom: 52px;
}

.goods-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -20px;
}

.manufacturers-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 70px;
  list-style: none;
}

.manufacturers-item {
  align-items: center;
  width: 220px;
  height: 145px;
  text-align: center;
}

.manufacturers-link:hover,
.manufacturers-link:focus {
  box-shadow: 0px 0px 8px -3px var(--basic-black);
  outline: none;
}

.manufacturers-item:active {
  opacity: 0.5;
}

.manufacturers-link {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--special-lightgrey);
}

.services {
  background-color: var(--basic-background);
}

.services-slider {
  display: flex;
  justify-content: space-between;
  padding-bottom: 74px;
}

.services-slider-screen {
  display: none;
}

.services-label {
  display: block;
  padding-left: 23px;
  padding-top: 14px;
  cursor: pointer;
  padding-bottom: 16px;
}

.services-label:hover {
  background-color: var(--special-darckblue);
}

.services-slider-delivery:checked ~ .service-list .delivery-label {
  background: var(--basic-white);
  color: var(--special-darcdarckblue);
}

.services-slider-guarantee:checked ~ .service-list .guarantee-label {
  background: var(--basic-white);
  color: var(--special-darcdarckblue);
}

.services-slider-credit:checked ~ .service-list .credit-label {
  background: var(--basic-white);
  color: var(--special-darcdarckblue);
}

.services-slider-delivery:focus ~ .service-list .delivery-label {
  background: var(--basic-white);
  color: var(--special-darcdarckblue);
  text-decoration: underline;
}

.services-slider-guarantee:focus ~ .service-list .guarantee-label {
  background: var(--basic-white);
  color: var(--special-darcdarckblue);
  text-decoration: underline;
}

.services-slider-credit:focus ~ .service-list .credit-label {
  background: var(--basic-white);
  color: var(--special-darcdarckblue);
  text-decoration: underline;
}

.services-slider-delivery:checked ~ .services-slider-screens .delivery-slider {
  display: block;
  margin-right: 307px;
}

.services-slider-guarantee:checked ~ .services-slider-screens .garant-slider {
  display: block;
  margin-right: 305px;
}

.services-slider-credit:checked ~ .services-slider-screens .credit-slider {
  display: block;
  margin-right: 307px;
}

.services-heading {
  padding-top: 65px;
  margin-top: 53px;
}

.services-title {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.delivery-slider {
  position: relative;
}

.garant-slider {
  position: relative;
}

.credit-slider {
  position: relative;
}

.services-slider-screen::after {
  z-index: 1;
}

.delivery-slider::after {
  content: "";
  position: absolute;
  width: 468px;
  height: 260px;
  top: 21px;
  right: -306px;
  background-image: url(../img/dostavka.png);
}

.credit-slider::after {
  content: "";
  position: absolute;
  width: 468px;
  height: 260px;
  top: -1px;
  right: -320px;
  background-image: url(../img/credit.png);
}

.garant-slider::after {
  content: "";
  position: absolute;
  width: 468px;
  height: 260px;
  top: -2px;
  right: -392px;
  background-image: url(../img/garant.png);
}

.credit-btn {
  position: relative;
  z-index: 10;
  min-width: 194px;
  padding: 9px 10px;
  margin-top: 25px;
  display: inline-block;
  vertical-align: baseline;
  border-radius: 2px;
}

.services-desc {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.service-slider-text {
  margin-top: 3px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 25px;
}

.service-list {
  position: relative;
  min-width: 240px;
  padding: 0;
  padding-bottom: 6px;
  margin-top: 57px;
  color: var(--basic-white);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  list-style: none;
}

.service-item {
  width: 240px;
  height: 61px;
  background-color: var(--basic-grey);
}

.service-item:nth-child(n + 2) {
  border-bottom: 1px solid var(--special-darckblue);
  border-top: 1px solid var(--top-border-service-item);
}

.service-list::before {
  content: "";
  position: absolute;
  top: -35px;
  right: 0px;
  width: 10px;
  height: 279px;
  background-image: url(../img/line.png);
  background-repeat: no-repeat;
}

.service-image {
  margin-top: 75px;
}

.service-slider-heading {
  margin-top: 55px;
  font-weight: normal;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-darcdarckblue);
  margin-bottom: 29px;
}

.service-slider-desc {
  margin-left: 40px;
  z-index: 2;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.service-slider-text {
  width: 313px;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 10;
}

.service-slider-text-2 {
  width: 207px;
}

.service-slider-text-3 {
  margin-top: -6px;
}

.service-item-current {
  background-color: var(--basic-white);
  color: var(--special-darcdarckblue);
}

.about {
  width: 478px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
}

.about-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 21px;
}

.about-desc {
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.delivery-descr {
  margin-bottom: 3px;
}

.delivery-list {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 37px;
  margin-bottom: 7px;
}

.delivery-item {
  position: relative;
  padding-bottom: 12px;
}

.delivery-item::before {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  top: 12px;
  left: -37px;
}

.about-company {
  display: flex;
  justify-content: space-between;
  padding-top: 73px;
  margin-bottom: 70px;
}

.about-btn {
  display: block;
  width: 220px;
  height: 38px;
  padding: 11px 24px 9px 24px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

.contacts {
  width: 300px;
}

.contacts-title {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 27px;
}

.contacts-desc {
  padding-bottom: 0;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  margin-bottom: 33px;
}

.open-map {
  display: block;
  margin-bottom: 18px;
}

.contac-btn {
  width: 300px;
  height: 38px;
  padding: 11px 24px 9px 24px;
  display: block;
}

.breadcrumbs-list {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 42px;
}

.breadcrumbs-home {
  margin-right: 37px;
  margin-top: 2px;
}

.breadcrumbs-home-link {
  display: block;
}

.breadcrumbs-home-link:before {
  content: "";
  width: 18px;
  height: 17px;
  background-image: url(../img/svg/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
}

.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 2px;
  left: -26px;
  width: 10px;
  height: 13px;
  background-image: url("../img/svg/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Filters */

.filter-title-mod {
  display: block;
  width: 220px;
  height: 38px;
  padding: 10px 18px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-beige);
}

.filter-item {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  border: none;
}

.range-filter {
  width: 220px;
  margin-top: 10px;
  margin-bottom: 25px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 6px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: var(--basic-beige);
  border-radius: 2px;
}

.range-controls .scale {
  height: 2px;
  background: var(--scale-bg);
}

.range-controls .bar {
  width: 79%;
  height: 2px;
  background: var(--bar-bg);
}

.toggle {
  position: relative;
  box-shadow: 0 5px 5px -5px var(--toggle-shadow);
}

.toggle::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  bottom: -3px;
  left: -2px;
  background-color: var(--basic-greylight);
  border-radius: 2px;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle-bg);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--range-toggle-bg);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 95px;
  padding: 10px;
  text-align: center;
  color: var(--price-input-color);
  border: none;
  border-radius: 2px;
  background-color: var(--basic-beige);
  padding-left: 24px;
}

.brand-title:active {
  opacity: 0.3;
}
.filters {
  font-family: "PT Sans", Arial, sans-serif;
  width: 220px;
}

.filters-title {
  padding: 0;
  margin: 0;
  line-height: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  padding: 10px 18px;
  text-transform: uppercase;
}

.filter-title {
  line-height: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "PT Sans", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 19px;
  text-transform: uppercase;
}

.filter-title-power {
  padding-bottom: 0;
  margin-bottom: 28px;
}

.filter-list fieldset:last-child {
  border-bottom: none;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.filter-group {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  border: none;
  border-bottom: 1px solid var(--special-lightgrey);
  padding-bottom: 16px;
}

.filter-item {
  border-bottom: 1px solid var(--special-lightgrey);
  margin-bottom: 21px;
}

.filter-option {
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.filter-option-power {
  margin-bottom: 23px;
}

.filter-button {
  padding: 10px 78px;
  margin-top: 6px;
  border: 1px solid var(--button-border-color);
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-white);
  cursor: pointer;
  border-radius: 2px;
}

.filter-button:hover,
.filter-button:focus {
  border-color: var(--basic-greylight);
  outline: none;
}

.filter-button:active {
  border-color: var(--basic-red);
}

.filter-checkbox {
  display: inline-block;
  vertical-align: baseline;
  position: relative;
  margin-right: 10px;
  width: 23px;
  height: 23px;
}



.filter-checkbox::before {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  left: 0;
  width: 23px;
  height: 23px;
  opacity: 0.8;
  background-image: url(../img/svg/checkbox-off.svg);
}

.input-checkbox:disabled + .filter-checkbox::before {
  background-image: url(/img/svg/checkbox-off-block.svg);
}

.input-checkbox:active {
  opacity: 0.3;
}

.input-checkbox:disabled + .filter-checkbox::after {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  left: 0;
  width: 27px;
  height: 23px;
  border: none;
  opacity: 0.8;
  background-image: url(/img/svg/checkbox-on-block.svg);
}

.input-checkbox:disabled  ~ .brand-title {
  opacity: 0.3;
}

.input-checkbox:focus + .filter-checkbox::before {
  background-image: url(/img/svg/modoff.svg);
}

.input-checkbox:checked:focus + .filter-checkbox::after {
  background-image: url(/img/svg/modon.svg);
}



.input-checkbox:checked + .filter-checkbox::after {
  content: "";
  position: absolute;
  display: block;
  top: 6px;
  left: 0;
  width: 27px;
  height: 23px;
  border: none;
  opacity: 0.8;
  background-image: url(/img/svg/checkbox-on.svg);
}

.input-checkbox:checked + .filter-checkbox::before {
  display: none;
}

.filter-option-label {
  cursor: pointer;
}

.filter-input-radio {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 30px;
}

.filter-input-radio::before {
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  top: -17px;
  width: 25px;
  height: 25px;
  background-image: url(/img/svg/radio-off.svg);
  opacity: 0.8;
}

.input-radio:checked + .filter-input-radio::after {
  content: "";
  position: absolute;
  display: block;
  top: -9px;
  left: 8px;
  width: 25px;
  height: 23px;
  border: none;
  background-image: url(/img/svg/radio-on.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
}

.input-radio:focus + .filter-input-radio::before {
  content: "";
  position: absolute;
  display: block;
  left: 0px;
  top: -17px;
  width: 25px;
  height: 25px;
  background-image: url(/img/svg/radio-offmod.svg);
  opacity: 0.8;
}

.input-radio:checked:focus + .filter-input-radio::after {
  content: "";
  position: absolute;
  display: block;
  top: -9px;
  left: 8px;
  width: 25px;
  height: 23px;
  border: none;
  background-image: url(/img/svg/radio-onmod.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
}

.input-radio:disabled + .filter-input-radio {
  opacity: 0.3;
}

.input-radio:disabled ~ .brand-title {
  opacity: 0.3;
}


/* Catalog */

.heading-catalog {
  margin-top: 19px;
  margin-left: 0;
  padding-bottom: 29px;
  padding-top: 30px;
  margin-bottom: 20px;
  background-color: var(--special-verylightgrey);
}

.catalog-heading-title {
  padding: 0;
  margin: 0;
  padding-left: 28px;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--special-darcdarckblue);
}

.catalog-row {
  display: flex;
}

.catalog {
  margin-left: 20px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  width: 700px;
  height: 38px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--basic-beige);
}

.sorting-title {
  display: block;
  padding-left: 20px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
  margin-right: 141px;
}

.sorting-types-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.sorting-directions-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  width: 89px;
  margin-right: 15px;
  justify-content: space-between;
  margin-left: 45px;
}

.btn-sort {
  padding: 0;
  color: var(--button-sort-color);
  text-transform: uppercase;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px dotted var(--basic-red);
}

.sorting-types-radio:checked + .btn-sort {
  color: var(--basic-red);
  border: none;
}

.btn-sort:hover,
.sorting-types-radio:focus + .btn-sort {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.btn-sort-direction {
  cursor: pointer;
}

.sorting-direction-icon {
  fill: var(--basic-greylight);
}

.sorting-direction-radio:checked + .btn-sort-direction .sorting-direction-icon {
  fill: var(--basic-red);
}

.btn-sort-direction:hover .sorting-direction-icon,
.sorting-direction-radio:focus + .btn-sort-direction .sorting-direction-icon {
  fill: var(--basic-black);
}

.btn-up {
  position: relative;
  border: none;
  outline: none;
}

.btn-up::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: -8px;
  left: 0;
  background-image: url(../img/svg/icon-up-dir.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.btn-down {
  position: relative;
  margin-left: 18px;
  border: none;
  outline: none;
}

.btn-down::before {
  content: "";
  position: absolute;
  width: 11px;
  height: 10px;
  top: -8px;
  left: 0;
  background-image: url(../img/svg/icon-down-dir.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  list-style: none;
  margin-left: -20px;
}

.card-title {
  display: block;
  padding: 0 30px 0 30px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
}

.card-item {
  position: relative;
  width: 220px;
  margin-left: 20px;
  margin-bottom: 18px;
  border: 1px solid var(--special-lightgrey);
  padding-bottom: 97px;
}

.card-item-top-container {
  width: 100%;
  height: 153px;
  margin-bottom: 24px;
  padding-top: 15px;
}

.card-item-img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.catalog-item-image {
  max-height: 100%;
}

.card-item-price-block {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.card-item:hover > .card-link p {
  visibility: hidden;
}

.catalog-image {
  margin-left: 33px;
}

.btn-block {
  display: none;
  background-color: white;
  width: 100%;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-top: 20px;
}

.card-item:hover .btn-block {
  display: block;
}

.card-item:hover .card-item-img-block {
  display: none;
}

.card-item:hover {
  box-shadow: 0px 0px 8px -3px var(--basic-black);
}

.catalog-item-image {
  display: block;
  margin-left: 30px;
  margin: 0;
}

.price-box {
  display: block;
  position: relative;
  margin-left: 45px;
}

.del-price {
  display: block;
  margin-bottom: 13px;
  margin-left: 76px;
  text-decoration: line-through;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--old-price-color);
}

.price {
  position: relative;
  display: block;
  width: 125px;
  height: 38px;
  padding-top: 10px;
  margin-left: 44px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 17px;
  line-height: 18px;
  background-color: var(--basic-red);
  color: var(--basic-white);
}

.price:after {
  content: "";
  position: absolute;
  top: 5px;
  right: -13px;
  width: 26px;
  height: 28px;
  background-color: var(--basic-red);
  transform: rotate(45deg);
}

.new-goods:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 70px;
  height: 67px;
  background: url(../img/catnew.png) no-repeat 0 0;
}

.btn-block {
  position: absolute;
  display: none;
  top: 20px;
  left: 11px;
  background-color: white;
  width: 135px;
  height: 110px;
  margin-left: 30px;
}

.card-item:hover > .btn-block {
  display: block;
}

/* Button */

.button {
  width: 135px;
  height: 38px;
  margin-bottom: 10px;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-green);
  border: none;
  box-shadow: inset 0px -3px 0px var(--btn-inner-shadow);
  border-radius: 2px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--special-success);
}

.button:active {
  background-color: var(--special-greendarck);
}

.btn {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: var(--basic-white);
  background-color: var(--basic-red);
  border: none;
  cursor: pointer;
}

.btn:active {
  background-color: var(--special-error);
}

.btn-mod {
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  box-shadow: none;
  color: var(--special-darcdarckblue);
  background-color: var(--basic-white);
}

.btn-mod:hover {
  border: 3px solid var(--special-darcdarckblue);
  border-radius: 2px;
  box-shadow: none;
  color: var(--special-darcdarckblue);
  background-color: var(--basic-white);
}

.btn-mod:active {
  border: 3px solid var(--special-grey);
  border-radius: 2px;
  box-shadow: none;
  color: var(--special-grey);
  background-color: var(--basic-white);
}

.catalog-row {
  display: flex;
}

.pagination-list {
  display: flex;
  padding: 0;
  margin-top: 30px;
  margin-bottom: 58px;
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-item {
  margin-right: 10px;
  border-radius: 2px;
  border: none;
}

.pagination-item:last-child {
  width: 140px;
  height: 38px;
}

.pagination-link:hover,
.pagination-link:focus {
  border-color: var(--basic-greylight);
  outline: none;
}

.pagination-link:active,
.pagination-link-current:hover,
.pagination-link-current:focus {
  border: 1px solid var(--basic-red);
}

.pagination-link {
  display: block;
  padding: 9px 15px;
  border: 1px solid var(--button-border-color);
  border-radius: 2px;
  text-align: center;
  color: var(--basic-black);
}

.pagination-link-current {
  color: var(--basic-white);
  border: 1px solid var(--basic-red);
  background-color: var(--basic-red);
}

.definition {
  padding-top: 40px;
  padding-bottom: 67px;
  background-color: var(--basic-background);
}

.definition-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.definition-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 25px;
  padding: 0;
  margin: 0;
  width: 906px;
}

/* Footer */

.main-footer {
  background-color: var(--special-darcdarckblue);
}

.footer-up {
  background-color: var(--basic-grey);
  display: flex;
  justify-content: flex-start;
  padding-bottom: 55px;
}

.footer-down {
  padding-top: 34px;
  background-color: var(--special-darckblue);
  padding-bottom: 28px;
}

.footer-top {
  width: 570px;
  margin-right: 62px;
}

.footer-middle {
  width: 100%;
  padding-top: 38px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
  margin-left: -58px;
  margin-bottom: 34px;
}

.footer-nav-item {
  margin-left: 58px;
}

.footer-logo-link {
  display: flex;
  height: 68px;
  width: 220px;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  margin-bottom: 23px;
}

.footer-logo {
  width: 135px;
  margin-top: -4px;
}

.footer-logo-link:active,
.footer-logo-link:focus {
  background-color: var(--special-error);
  outline: none;
}

.footer-nav-link {
  display: block;
}

.footer-nav-link:hover,
.offers-link:hover {
  text-decoration: underline;
}

.footer-nav-link {
  color: var(--basic-background);
}

.footer-nav-link:focus {
  outline: none;
  text-decoration: underline;
}

.footer-contact-address {
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-background);
  border: none;
  font-style: normal;
}

.footer-tel {
  padding: 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: var(--basic-background);
  border: none;
}

.footer-tel:focus {
  text-decoration: underline;
  outline: none;
}

.offers {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  align-items: center;
  list-style: none;
  padding-left: 23px;
  margin-left: -58px;
}

.offers-item {
  margin-left: 58px;
}

.offers-link {
  display: block;
  color: var(--special-yellowlight);
}

.offers-link:focus {
  outline: none;
  text-decoration: underline;
}

.footer-nav-link:active,
.offers-link:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 132px;
  margin: 0;
  margin-top: -2px;
  margin-left: 42px;
  padding: 0;
  list-style: none;
}

.footer-bottom {
  display: flex;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  justify-content: space-between;
}

.copyright {
  padding: 0;
  margin: 0;
}

.footer-bottom a {
  color: var(--special-yellowlight);
}

.feedback-container {
  width: 283px;
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.social-link {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--special-darckbluedarck);
}

.social-link:hover,
.social-link:active,
.social-link:focus {
  background-color: var(--basic-red);
  outline: none;
}

.social-link-vk::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 8px;
  width: 27px;
  height: 17px;
  background-image: url(../img/svg/icon-vk.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-link-fb::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 30px;
  height: 22px;
  background-image: url(../img/svg/icon-fb.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-link-inst::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  width: 30px;
  height: 22px;
  background-image: url(../img/svg/icon-insta.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-link:hover,
.social-link:active {
  background-color: var(--basic-red);
}

.feedback {
  padding: 0;
  margin: 0;
}

.developed {
  padding: 0;
  margin: 0;
}

.copyright-link {
  display: block;
}

.copyright-link:hover {
  text-decoration: underline;
}

.copyright-link:active,
.copyright-link:focus {
  color: var(--basic-red);
  text-decoration: none;
  outline: none;
}

.modal-map {
  display: none;
  position: fixed;
  width: 943px;
  height: 449px;
  top: 30%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  border-top: 7px solid var(--basic-red);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.modal-map p {
  display: none;
  width: 943px;
  height: 449px;
  top: 2370px;
  left: 479px;
  position: absolute;
  border-top: 7px solid var(--basic-red);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.map-btn {
  z-index: 3;
  position: absolute;
  top: 12px;
  right: 10px;
  width: 30px;
  height: 22px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../img/svg/icon-close.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

/* Modal */

.feedback-popup {
  display: flex;
  display: none;
  position: fixed;
  flex-wrap: wrap;
  width: 620px;
  height: 430px;
  top: 30%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--basic-white);
}

.feedback-popup label {
  display: block;
  font-size: 18px;
  line-height: 24px;
}

.feedback-popup input {
  box-sizing: border-box;
  width: 100%;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 7px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  margin-bottom: 11px;
}

.feedback-close {
  position: absolute;
  top: 12px;
  right: 0;
  width: 30px;
  height: 22px;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../img/svg/icon-close.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-input-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 620px;
  padding-right: 80px;
  padding-left: 80px;
  border-top: 7px solid var(--basic-red);
  background-color: var(--basic-white);
}

.send-button-area {
  width: 620px;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 37px;
  padding-top: 37px;
  margin-top: 37px;
  background-color: var(--special-verylightgrey2);
}

.feedback-popup input::placeholder,
.textarea-section textarea::placeholder {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.textarea-section {
  flex-grow: 3;
  width: 460px;
}

.textarea-section textarea {
  width: 460px;
  height: 114px;
  box-sizing: border-box;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 7px;
  resize: none;
}

.btn-modal {
  width: 460px;
  height: 38px;
}

.modal-add-cart {
  position: absolute;
  display: none;
  position: fixed;
  top: 30%;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  border-top: 7px solid var(--basic-red);
  width: 620px;
}

.main-add-cart {
  display: flex;
  padding: 43px 81px;
  background-color: var(--basic-white);
}

.icon-add-cart {
  position: relative;
  display: block;
  margin-right: 29px;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: var(--basic-green);
}

.icon-add-cart::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 15px;
  width: 40px;
  height: 30px;
  background-image: url(../img/svg/shape.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.title-add-cart {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.footer-add-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 112px;
  padding-left: 3px;
  background-color: var(--special-lightbeige);
}

.btn-add-cart {
  display: block;
  padding-top: 11px;
  width: 192px;
  height: 38px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.button-add-cart {
  display: block;
  padding-top: 11px;
  width: 192px;
  height: 38px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.btn-add-cart:last-child {
  margin-left: 10px;
  padding-top: 4px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.close-add-cart {
  position: relative;
  z-index: 2;
  position: absolute;
  top: 12px;
  right: 3px;
  width: 30px;
  height: 22px;
  border: none;
  cursor: pointer;
  background-color: var(--basic-white);
  background-image: url(../img/svg/icon-close.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
  z-index: 100;
}

.modal-error {
  animation: shake 0.6s;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*******************************************/

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
